[2021-02-18 13:54] sakthi-ektha-N opened #8 "CHANGES TO BE MADE TO THE WEBISTE"
THE FRAMES HTML:-
As it is a merging of all the html files made, we need to keep in mind the layout and the font size and design of the page.For example, we can do these;
  - adding buttons in the navigation bar where menu of home, about us,and other info is given.
  - we can divide the left frame contents in a more better design by using <hr> tag.
  - change the images to more capturing ones that

[2021-02-22 14:27] ChitvanRamani22 commented on #8
@sakthi-ektha-N I am interested in working on this issue. Can you please assign this to me.

[2021-02-23 15:41] mu593 opened #11 "update readme file"
I want to contribute readme file.
![InkedIndia_Gate_Tourist_Place_in_Delhi_Photo_LI](https://user-images.githubusercontent.com/78211967/108867825-94f1c800-761b-11eb-89ef-d227ba784a93.jpg)
Delhi Tourism is a website to explore by all tourist places and their historical value associated with it. Explore our capital

[2021-02-26 14:46] gaurav24072002 commented on #11
Hey !!
I am interested in this project Please assign this project to me under GSSPC '21.
And I want to update the Readme.md file so assign this issue to me.
I will add :
1) How to contribute in this project.
2) the procedure from forking to making a pull request.
3) about how to add issues and etc.

[2021-02-27 14:01] ChitvanRamani22 commented on #11
Hi!!
I am interested in this project Please assign this project to me under GSSOC '21
.

[2021-02-28 06:58] ChetasShree commented on #11
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me.

[2021-02-28 17:16] kunal299 commented on #8
@sakthi-ektha-N I would love to work on this issue as a part of Gssoc'21. Could you plz assign this to me?

[2021-03-03 15:55] ChetasShree commented on #11
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me.

[2021-03-03 16:11] gaurav24072002 commented on #11
Hey !! I have give some ideas and I'll Start working on it once you assign it to me...

[2021-03-04 11:45] gaurav24072002 commented on #11
Before moving forward to write Readme.md can @PoojaMittal2842 and @mu593 about certain ideas :
1) the above ideas as follows.
2) Should I add contributing.md file which would include the process of contributing in it or add that process in Readme.md file only.
3) Please  send me "about this project" to add it in Readme.md .
4) should I add the table of places to visit in Delhi in Readme.md file.

[2021-03-04 12:15] ChetasShree commented on #11
5. best and reasonable hotels which have a great view and all??
6. some pictures of amazing tourist places??

[2021-03-07 14:02] vkassingh opened #12 "Design user flow for the project"
i would like to contribute to the project as a part of gsssoc21. do we have a group for discussion for the same?

[2021-03-07 15:13] sgpritam opened #13 "Improve the header"
Improve the header section of the web page.

[2021-03-07 18:10] DEEPIKA-SUK commented on #13
I am a participant of GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-07 19:02] sakshi012000 commented on #13
I am a participant of GSSoC 2021. I want to contribute to this issue. Can you please assign me this?

[2021-03-07 20:50] shivamp296 commented on #13
Hi , i am a participant of GSSoC 2021. Want to contribute to this issue. Currently i am focusing on front-end parts and polishing my skills. Could you please assign me this issue.
Thank you..

[2021-03-08 07:20] gayatri517 opened #14 "Improving the about and the red fort section in the home page."
I want to improve the about and the red fort section in the home page.
- I want to align their respective background colours with the other sections of the homepage so that they look uniform.
Please assign me this issue as a participant of GSSOC'21. @sakthi-ektha-N

[2021-03-08 15:39] padmajabhol commented on #13
I want to contribute on this paticular issue , can you assign me?

[2021-03-08 16:00] padmajabhol opened #17 "Adding a preloader"
I want to add a theme based preloader to this site.

[2021-03-08 17:53] prisha-srivastava opened #18 "Registration section of the home page"
I would like to improve the registration section of the homepage by changing the background and styling. Contributing as a participant of GSSOC'21. Could you please assign it to me?

[2021-03-08 18:23] sgpritam commented on #13
Assigned to @DEEPIKA-SUK

[2021-03-08 18:39] shairanshrawat commented on #14
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021
Thank you.

[2021-03-08 18:59] 24sristi opened #19 "Changes in frontend"
I'd like to make changes in the frontend make it prettier with better css and also add media queries.

[2021-03-08 20:10] Vishal1003 opened #20 "Backend : Discussion"
I would like to work on the backend part of this project. @PoojaMittal2842 Can you mention the requirements?

[2021-03-08 20:18] Kashish0423 commented on #20
Yes please create a discord server and give us a wire frame

[2021-03-09 04:06] EANimesha opened #21 "Add a Licence to the repository"
Better to add a license to the repository. MIT License will be suitable. Can I work on this?

[2021-03-09 04:35] rk05-lenavo commented on #8
I want to work on this issue. Could you please assign this to me?

[2021-03-09 04:41] rk05-lenavo commented on #19
Hi!!
I am interested in this project Please assign this project to me under GSSOC '21

[2021-03-09 04:41] rk05-lenavo commented on #13
Hi!!
I am interested in this project Please assign this project to me under GSSOC '21

[2021-03-09 05:31] saumyaparikh commented on #13
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 06:54] Riya764 commented on #19
I would like to work on this issue.Please /assign this to me as a part of GSSOC'21

[2021-03-09 06:55] Riya764 commented on #18
I would like to work on this issue.Please assign this to me as a part of GSSOC'21

[2021-03-09 06:55] Riya764 commented on #12
I would like to work on this issue.Please /assign this to me as a part of GSSOC'21

[2021-03-09 06:56] RaveenaBhasin commented on #19
Hey I'm a part of GSSOC'21 .Please assign me this issue I have amazing ideas to improvise the website to make it look attractive

[2021-03-09 07:46] DEEPIKA-SUK commented on #13
Thank you for assigning me this issue.

[2021-03-09 09:10] padmajabhol opened #22 "Add a favicon"
I want to add a theme based favicon.

[2021-03-09 09:31] Anuradha0501 commented on #14
I also want to work on the about section as a GSSOC 2021 participant. please could u assign me this issue?

[2021-03-09 09:41] Anuradha0501 commented on #19
I would like to work on this issue as a part of the GSSOC'21. Please assign this to me

[2021-03-09 09:42] Ananya88 commented on #11
Hey !!
I am interested in this project as GSSPC '21 participant .
And I would like to to update the Readme.md file , I would like to add different places to visit in Delhi under the subheadings (according to people) like places for children, religious places etc .

How to contribute in this project.
the procedure from forking to making a pull request.
about how to add issues and etc.

Please assig

[2021-03-09 10:27] abhishek96k commented on #22
Please assign me this issue as a part of GSSoC'21

[2021-03-09 10:37] jnv27 commented on #20
Hello @PoojaMittal2842 ,
I would like to work on backend part of this project as part of GSSOC'21. Also , please let me know when you'll create discord channel for the same.

[2021-03-09 11:03] RaveenaBhasin opened #23 "A separate page that would contain all tourist places of delhi"
We can combine all the images in a collage-like form and add a parallax effect which on hovering over it will show the name of the place and on clicking will show information about the place.
I want to work on this issue. I'm a participant in GSSOC'21

[2021-03-09 11:57] taruni-always opened #24 "Adding Issue Templates"
I want to add issue templates so that all the issues are organised properly and accordingly.

Please assign this to me under GSSoC '21

[2021-03-09 12:21] AakankshaKamal commented on #23
I am a GSSOC 21 participant and would like to work on this project.Do we have any separate group for discussions?

[2021-03-09 12:41] AakankshaShah commented on #19
I would also like to work on it.

[2021-03-09 13:05] bug-debug-done opened #25 "redesign the ui of th epage and create different page"
I am a GSSoC'21 participant.
I would like to create the home page of the site. I will use the perfect color scheme. I will make the page appealing. I will add photos of the different place which when clicked will take to the page which will share the information about that particular page. I will also create and link the home, about, and registration page.
I will also add the contacts section.
Ple

[2021-03-09 13:27] bug-debug-done opened #27 "create a web page for about"
I will create a web page for about. which will have the complete info about the Delhi tourism
please assign this to me

[2021-03-09 14:21] Mrinal81 opened #28 "Improvement In Registration Section"
I am a GSSOC'21 participant. I will improved the layout of the registration section with proper ui.
Please assign this issue to me.

[2021-03-09 14:27] Mrinal81 opened #29 "Redesign The Detail Section"
I am a GSSOC'21 Participant. I will redesign the detail section that will look good.
Please assign me this issue.

[2021-03-09 14:30] padmajabhol commented on #22
Guys, I m not the project admin.

[2021-03-09 15:13] deeptea22 opened #30 "Art and Culture, Museum, Shopping, Kids Friendly Pages"
Would like to create these four pages as part of GSSOC. Please assign me this

[2021-03-09 15:20] deeptea22 opened #31 "Museum Page"
Would like to create a new page for museums in Delhi. Please assign me this as a part of GSSOC

[2021-03-09 15:21] deeptea22 opened #32 "Shopping Page"
Would like to create a new page on the shopping areas available in Delhi. Please assign me this as a part of GSSOC
Looking forward to your response @PoojaMittal2842 @sgpritam @rajnagdeo @RiyaGupta08 @RuchiGitHu

[2021-03-09 15:21] deeptea22 opened #33 "Kids Friendly Page"
Would like to create a new page about all Kids Friendly places in Delhi. Please assign me this as a part of GSSOC

[2021-03-09 15:57] SnehaVeerakumar commented on #20
I am a GSSOC'21 participant. Kindly let me know if the backend is using Django.

[2021-03-09 16:21] gnikita432 opened #34 "Improve the registration page"
the Styling of the registration page can be improved with css
![di](https://user-images.githubusercontent.com/61223163/110502741-7b737480-8121-11eb-8afb-a60dbd555286.PNG)
I would like to Style the registration page. kindly assign me this issue under GSSOC'21

[2021-03-09 16:23] gnikita432 commented on #25
Hey, I would like to work on this issue. Please assign this issue to me under GSSOC'21

[2021-03-09 16:28] gnikita432 opened #35 "Improve the details section"
Improvement of the ui of the details section is needed.
![di2](https://user-images.githubusercontent.com/61223163/110503704-78c54f00-8122-11eb-852c-edceef4b2cac.PNG)
I am a GSSOC'21 participant. kindly assign this issue to me under GSSOC'21

[2021-03-09 16:29] Saumya008 commented on #22
Hi !!
I would like to contribute to this project as GSSOC '21 participant.
Please assign this issue to me.
Thanks.

[2021-03-09 18:10] gaurav24072002 commented on #11
Hey !! @PoojaMittal2842  I have created  Readme.md file please look at it and merge it. and yes add it for my GSSOC '21 contribution

[2021-03-09 19:19] kanak22 opened #37 "Add a pull request template"
I would like to add this as a part of GSSOC'21. Kindly assign it to me.

[2021-03-09 20:06] SARVESHKHANDELWAL commented on #34
Can you assign me this issue i will like to do that.

[2021-03-09 20:07] SARVESHKHANDELWAL commented on #34
As can you please label this issue as GSSOC21.

[2021-03-10 04:11] Mrinal81 opened #38 "Adding Slidebar in About Section"
I am a GSSOC'21 participant. I will make a slidebar in About section .
There are 5 slides.
1) About Slide
2) Art and Culture  slide
3) Museum
4) Shopping
5) Kids Friendly

All slide will run on auto play loop.

![Screenshot from 2021-03-10 09-28-19](https://user-images.githubusercontent.com/76482022/110575274-9c20e600-8184-11eb-831f-a0466a2f9064.png)

I would like to work on this issue please assi

[2021-03-10 05:58] anjali7786 commented on #31
Hii...I am a GSSOC'21 participant and I would like to work on this issue. Please assign this issue to me.

[2021-03-10 07:27] WebVishal opened #39 "Improve Main Section using Image Hover Effect"
Hii, I'm Vishal, want to contribute to this project as a participant ggsoc21, I will try to improve the **main section** with the Image Howe effect.

[2021-03-10 10:17] shrishti-c commented on #27
Hey... I can create an apt about section for Delhi Tourism. Do kindly assign it to me.

[2021-03-10 11:12] simsam0502 opened #40 "Responsiveness"
I am a GSSOC'21 participant. I wish to make the website responsive by using flexbox, grids and media queries. Please assign me this issue.

[2021-03-10 12:10] VinayKumar1512 commented on #33
I Would Love to create this page. Assign this to me (GSSOC Participant).

[2021-03-10 12:12] DEEPIKA-SUK commented on #13
Please could you tell me what's the deadline for making PR for this issue.

[2021-03-10 14:06] GulshanKataria commented on #31
@PoojaMittal2842 . Can I work on creating a new page for museums in Delhi? Can you please assign this issue to me as a part of the GSSOC

[2021-03-10 14:07] GulshanKataria commented on #32
@PoojaMittal2842 . Can I work on creating a page for the shopping areas available in delhi? Can you please assign this issue to me as a part of the GSSOC

[2021-03-10 14:07] GulshanKataria commented on #30
@PoojaMittal2842 . Can I work on creating a new page for displaying the art and culture of delhi? Can you please assign this issue to me as a part of the GSSOC

[2021-03-10 15:09] sgpritam commented on #13
@PoojaMittal2842

[2021-03-10 15:10] sgpritam commented on #30
@GulshanKataria Yes, sure

[2021-03-10 15:13] sgpritam commented on #39
Assigned to @WebVishal

[2021-03-10 15:14] sgpritam commented on #38
Assigned to @Mrinal81

[2021-03-10 16:09] SAHU-01 opened #42 "Use Css to make the page more attractive"
We can use alot of Css to make and change the homepage to a more attractive one with more disticnt divisions and a header and footer can also be added.

The registration can altogether be changed to a different part on the or link.

[2021-03-11 02:34] khareyash05 opened #43 "add contributing.md"
I would like to add contributing.md file . I will contribute by putting steps on how to clone a repo and install on local system ,how to make a branch and use git commands to push it to origin ,How to make a PR , how to update your forked repo as well as local repo as the changes are made to the upstream

I would like to work on this as a part of GSSOC'21

[2021-03-11 07:08] Vijay-Git03 commented on #17
I want to add preloader for this website @PoojaMittal2842

[2021-03-11 07:11] Vijay-Git03 commented on #34
I would like to contribute in this issue @gnikita432 @PoojaMittal2842

[2021-03-11 08:34] IdealisticINTJ commented on #42
I would like to work on this. Please assign it to me. I am pretty proficient in HTML/CSS.

[2021-03-11 09:04] ketakitankk opened #45 "Update the landing page, to a better user interface"
There is no boundary between the navigation bar, top section, middle section or bottom section. I would like to introduce elements like buttons navigation bars, horizontal lines through bootstrap. I would like to re-vamp the color palette of the webpage, and change the text styles after editing the content too. Overall I feel the page needs to have a better user interface in order to attract more

[2021-03-11 14:26] aditisneh commented on #43
Hey, as @khareyash05  is doing all stuffs regarding user guidelines on how to contribute, I would like to add a cool banner to the md and with neon effects. Basically I will be making the readme more attractive.
I would like to be assigned with this issue as a part of gssoc21. Kindly add gssoc21 tag to this as well. Thank You.

[2021-03-11 14:43] sgpritam commented on #42
Duplicate issues

[2021-03-11 14:43] #42 closed

[2021-03-11 14:44] sgpritam commented on #45
@ketakitankk Pls highlight the issues

[2021-03-11 15:03] inbasagar opened #46 "Improve the page"
First of all we need create a best home page, a responsive Navbar with hover effects..
we need to make home page more attractive with carousel image effect..
For Tourism webpage it needs to tell  a lot (Example segregating through cities like Mumbai,Delhi,kerela,..)
and if a person choses  a particular city and new page is redirected to show the list of tourist place for that city  and having a su

[2021-03-11 15:11] ritikpanchal768 opened #47 "responsive Navbar with hover effects"
want to improve navbar responsiveness and hover effect. Please assign it to me.

[2021-03-11 15:28] rk05-lenavo commented on #27
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 16:16] SAHU-01 commented on #11
The readme file can have an adminstrator part and technology stack ,as well as a status of no of pr,issues and forks ,etc.
I'd like to take this part ,so if possible do assign it to me!

I've sent a pull request for changes in navbar, homepage, additional animation and the screen feasibility according to different devices do go though that as well.

[2021-03-11 17:52] N-Shar-ma opened #51 "Improve README.md"
The content of the README.md file has some grammatical errors, which can easily be corrected to give it a professional touch. I would be happy to proofread and improve the README.md under the GSSoC'21 program

[2021-03-11 17:59] gaurav24072002 commented on #43
@khareyash05 I have already added contributing.md file so there is no need to make it but yes you can improve it. so go ahead 😄

[2021-03-11 18:38] GulshanKataria commented on #30
@sgpritam  okay I will start working on it. Can you please assign me this issue

[2021-03-11 21:45] 08Gunjan opened #52 "Rotating Images on Hovering (Homepage)"
I would like to contribue to  your Project By making all the images(Delhi Tourism ) more user -interactice .

<b>Following are the work to make it  User Interactive</b>
-  on hovering  The  Image  rotates  and its Backside contain the description of  the image !
- also on hovering the pointer changes .

<h4>Please assign me this issue under label GSSOC21 . Looking Forward To your Response  @sgprit

[2021-03-11 22:02] 08Gunjan commented on #47
I would like to Contribute to this Issue By creating the NAVBAR  more Beautiful  and interactive

<b> By ADDING :-</b>
 -   Effects like scaling up the link (transform)
 -  changing the Font Family  and font-size
 -  adding  icon and a navbrand
 -  changing the background-color of Navbar to make it

<h4>Assign me this Issue under the label GSSOC21 , looking forward to your response @sgpritam  @Poo

[2021-03-11 22:05] 08Gunjan opened #53 "Beautify the Navbar"
I would like to Contribute to this Issue By creating the NAVBAR more Beautiful and interactive

<b>By ADDING :- </b>

- Effects like scaling up the link (transform)
- changing the Font Family and font-size
- adding icon and a navbrand
- changing the background-color of Navbar to make it

<h4>Assign me this Issue under the label GSSOC21 , looking forward to your response @sgpritam @PoojaMittal2842

[2021-03-12 05:34] harinyadevi opened #54 "Improve registration form"
I would like to contribute to this issue by adding a few CSS effects to the registration form.
The changes would be:
When the user clicks 'Register' button, it would pop out a registration form where the user will enter his/her details.
Once the details have been entered, the user will have to click 'Submit' or 'Close' to cancel the registration.

Assign to me this issue under the label GSSOC21.
L

[2021-03-12 05:43] harinyadevi commented on #54
@PoojaMittal2842
I have created a pull request for the registration form. Please review the code and merge it if you find it good.

[2021-03-12 06:26] khareyash05 commented on #43
Attached a PR @sgpritam Have a look

[2021-03-12 06:37] ketakitankk commented on #45
Issue here is the colour palette, it can be changed to a more modern palette with many shades, not just one shade, the issue also lies with the text, there are many typos like the title itself, it should say, Delhi Tourism, not Delhi Tourisim.
I'd like to edit and correct the typos, change font styles & correct the colour palette.

[2021-03-12 07:24] GulshanKataria commented on #30
@PoojaMittal2842 @sgpritam I will start working on this.Please assign me this issue

[2021-03-12 08:09] rk05-lenavo commented on #54
I'm the participant from GSSOC'21. I would like to contribute in this issue. please assign me this issue.

[2021-03-12 08:14] WebVishal commented on #39
Hi @sgpritam   Anyone want to improvement in this issue

[2021-03-12 10:57] ankitaugale23 opened #56 "Improve Section of Art Culture, Museum, Shopping, Kids Friendly"
I would like to add styling to this section by:
1. Creating cards for each one of the categories in this section.
2. Adding styling and effects to each section
3. Adding appealing and proper images to each one of the categories of the section
If @PoojaMittal2842 you are ok with this. Please assign me this issue under GSSoC'21
Thank you

[2021-03-12 11:58] Dwitrisha opened #58 "Add a preloader"
I want to add a preloader to the website and also beautify the registration form.

[2021-03-12 12:21] AnanyaThapliyal2303 opened #59 "Contact us page"
I want to add contact us form

[2021-03-12 12:59] DEEPIKA-SUK commented on #13
Sir, kindly review my PR.

[2021-03-12 12:59] malavikarajeshvikraman opened #61 "Beautify About Delhi page"
Hi @PoojaMittal2842 ,

I am Malavika R V  and I am participating for GSSOC'21 .So I would like to contribute to this project by beautifying the about delhi page as well add connection between index.html and  about.html .

So kindly do  assign me this task.

[2021-03-12 13:10] Devender00999 opened #62 "Adding Image Viewer for viewing Images in home pages"
Hi @PoojaMittal2842,

I am Devender Kumar a participant of GSSOC 2021. I've seen Project Delhi Tourism and I think It should contain an Image Viewer for viewing the images of tourist places easily.
I would like to add this feature in this project.

Thanks

[2021-03-12 13:26] rohank2502 opened #63 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:26] rohank2502 opened #64 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 16:22] udaymittal7 commented on #20
I would like to work on the backend too Node.js and Express as a participant of GSSOC'21.

[2021-03-12 17:31] PoojaMittal2842 commented on #14
@gayatri517   Make the necessary changes and upload a video of the same also upload a picture/video before making changes.

[2021-03-12 17:34] PoojaMittal2842 commented on #17
@padmajabhol After adding preloader upload a short video showing the changes.

[2021-03-12 17:48] ChitvanRamani22 commented on #8
@PoojaMittal2842 thanks for assigning this to me. Can you please elaborate what changes are to be made.

[2021-03-12 20:40] Srijan205 commented on #19
I would like to work on this issue as a part of the GSSOC'21. Please assign this to me

[2021-03-12 20:40] Srijan205 commented on #13
I would like to work on this issue as a part of the GSSOC'21. Please assign this to me

[2021-03-13 06:10] padmajabhol commented on #17
https://user-images.githubusercontent.com/75530516/111021214-d8587e80-83f0-11eb-8591-50a7ce9fb264.mp4

Is this okay? Should I send the PR?

[2021-03-13 07:11] PoojaMittal2842 commented on #28
@Mrinal81 Upload a video after making changes.

[2021-03-13 07:19] Mrinal81 commented on #28
@PoojaMittal2842  okay

[2021-03-13 07:55] padmajabhol commented on #22
@sgpritam
![Screenshot (21)](https://user-images.githubusercontent.com/75530516/111023523-8bc86f80-83ff-11eb-8368-8de33f59723d.png)
I have sent the PR, please review it.

[2021-03-13 08:19] GulshanKataria commented on #30
@PoojaMittal2842 Please assign me this issue as part of GSSOC

[2021-03-13 08:53] vkassingh commented on #12
@sgpritam
I am making the user flow for the project. But for that, I need to know the features you want to keep in it. Is there any rought list for that or any group for discussions?

[2021-03-13 09:53] sk1122 opened #72 "Using API to display touristic places dynamically"
We can use various sources from the Internet and Scrape that information to display on Home Page with added filters.

We can use Django for this as it is easy to use and many things like registering user comes already.

I would love to work on this...

@PoojaMittal2842

[2021-03-13 09:56] avinashjha1320 opened #73 "Alignment and Padding of Images"
Alignment and padding the images.
![Before 2](https://user-images.githubusercontent.com/71824792/111026458-609a4c00-8410-11eb-85ab-b57e82a5a751.jpg)
![Before 1](https://user-images.githubusercontent.com/71824792/111026460-62640f80-8410-11eb-882e-835af652cadb.jpg)

[2021-03-13 09:59] gayatri517 commented on #14
![image](https://user-images.githubusercontent.com/70585276/111026509-9b03e900-8410-11eb-924f-d2189fbc8904.png)
![image](https://user-images.githubusercontent.com/70585276/111026534-ad7e2280-8410-11eb-898c-3080ad34265f.png)

 I will be changing these two about and red fort sections so that their background colours are aligned with the others.

[2021-03-13 10:06] gayatri517 commented on #14
![screen 1 (2)](https://user-images.githubusercontent.com/70585276/111026694-9ab81d80-8411-11eb-8b0c-c26285887e5d.png)
![screen 2 (2)](https://user-images.githubusercontent.com/70585276/111026699-a277c200-8411-11eb-822b-23fc97f9b93c.png)

I will be changing the about and red fort section. I will change their background colours so that they are aligned with other sections

[2021-03-13 10:09] abhishek96k opened #74 "[ GSSOC21 ] Navigation bar not work properly"
So can you assign me? I can work on this issue.
@PoojaMittal2842

[2021-03-13 10:19] abhishek96k commented on #74
`/assign`

[2021-03-13 11:40] Srijan205 commented on #18
i want to work on this issue as a participant of GSSOC'21

[2021-03-13 11:47] Srijan205 opened #77 "Change in spelling of Tourism in Header"
I found a typo in the header section of the landing page. Hence, I would like to change the header section of the Website

[2021-03-13 12:22] mu593 opened #78 "Want to create a chatbot for your website"
please assign me this issue under gssoc 2021.
waiting for your reply.

[2021-03-13 12:47] prisha-srivastava commented on #18
@PoojaMittal2842
Due to some reason, I won't be able to work on this issue anymore. I hope somebody else can.

[2021-03-13 13:44] ayu222220 commented on #18
Can I work on this GSSOC'21. Can you assign me this

[2021-03-13 13:55] anamkaa commented on #13
I would like to work on this issue as a participant of GSSOC'21. Please assign this to me.

[2021-03-13 15:21] anamkaa commented on #19
I would like to work on this issue as a GSSOC'21 participant. I would like to make changes in the frontend to make the website more attractive and representable. Please assign this issue to me.

[2021-03-13 16:32] maverick1910 opened #80 "Index Page Delhi Tourism"
Delhi Tourism Index Page

[2021-03-13 16:32] avinashjha1320 commented on #80
Can you assign this to me

[2021-03-13 16:44] maverick1910 opened #81 "Browse Places Page"
Create a page where people can browse different places with a search bar and a filter bar
The places should be in a grid layout with each card having the following details
-Picture
-Ratings
-Place name
-Desc

Buttons:
1.Google Maps
2.Book Pass now
3.Comment

Filter Options:
1. Place
2. Ratings

[2021-03-13 16:46] A-kriti commented on #81
Hello @maverick1910, I would like to contribute to this issue as a GSSOC'21 participant.

[2021-03-13 17:02] maverick1910 commented on #78
Hello, I have assigned you the issue for the chatbot, please make sure to create a separate folder to submit your code for chatbot

[2021-03-13 17:05] maverick1910 opened #82 "Login Page (Front end)"
Create a Login page for the Delhi Tourism website. The page should be responsive and the tech stack given for the project should be used. Please send in a picture/video during PR's.

The details should be:
-Email
-Password
-Login with Google
-Login with Facebook

Anyone who is willing to work on this, please comment on this issue so I can assign them the task

[2021-03-13 17:07] maverick1910 opened #83 "Register Page UI"
Create a register page for the Delhi Tourism website. The page should be responsive and the tech stack given for the project should be used. Please send in a picture/video during PR's.

The details should be:
-First Name
-Last Name
-Email
-Phone Number
-Password
-Confirm Password
-Confirm Password
-Register with Google
-Register with Facebook

Anyone who is willing to work on this, please comment

[2021-03-13 17:10] maverick1910 commented on #45
@ketakitankk Thanks for reaching out
However, we have updated our final doc and requirements and functionalities for the project. Are you willing to take up a task? , Please let me know so that I can assign you with one !

[2021-03-13 17:12] maverick1910 commented on #56
Hey @ankitaugale23, I'm the mentor for this project, we have the functionalities that we want for the website which is similar to your idea, if you are willing to work on a task please let me know so that I can assign you one.

[2021-03-13 18:02] EANimesha commented on #82
Hi I am a Gssoc participant and I like to work on this issue.

[2021-03-13 18:13] Vedant-Rahane commented on #83
I would like to work on this issue.
@maverick1910 Please assign me this.

[2021-03-13 18:14] GulshanKataria commented on #83
@maverick1910 Can I work on the Register page UI? Can you please assign this issue to me as a part of the GSSOC

[2021-03-13 18:44] kanchi12P commented on #82
I am gssoc,21 participant,
I would like to work on this issue

[2021-03-13 19:09] abhishek96k commented on #83
I would like to work on this issue
as part of the `gssoc`

[2021-03-13 19:09] maverick1910 commented on #83
Hey @GulshanKataria ,I have assigned the register page to Vedant as he approached me first, if its fine with you I can assign you the login page and some other pages as well , what do you say ??

[2021-03-13 19:10] maverick1910 commented on #83
I've assigned you this issue, please follow the basic folder layout which has already been mentioned

All the best !

[2021-03-13 19:10] abhishek96k commented on #82
I would like to work on this issue
as part of the `gssoc`

[2021-03-13 19:13] maverick1910 commented on #82
Hey @abhishek96k @kanchi12P , I have already assigned the login page to other participants , I'll create more issues which you guys can work on !

[2021-03-13 19:21] maverick1910 opened #84 "Book Pass Page"
This page will be helpful for users  to directly book tickets and receive a pass to their emails.
The page should be having a responsive design and better UI with frameworks

Page Details :
Unique Pass ID
1. Name
2. Email
3. No of Passes(Adult)
4. Time Slot
5. Date
6. No of Passes(Children)
7. Phone Number

[2021-03-13 19:21] GulshanKataria commented on #83
@maverick1910 Yes, sir np. Please assign me some other pages

[2021-03-13 19:23] maverick1910 commented on #83
@GulshanKataria please comment on the recent issue for book pass issue , so that I can assign you that

[2021-03-13 19:26] GulshanKataria commented on #84
@maverick1910 Can I work on the Book Pass page? Can you please assign this issue to me as a part of the GSSOC

[2021-03-13 19:27] maverick1910 opened #85 "Admin Dashboard"
This is an Admin Dashboard for the whole website this will be divided into 2 parts and have to be taken up by 2 people atleast
The functionalities are

1. Side Nav :
The side navigation should have the following options
- Home
This should have the info about no of users, places, etc (use visualized graphs)
-Metrics
(This will have website analytics)
-Passes
This will have all the passes bought sor

[2021-03-13 19:28] maverick1910 commented on #84
@GulshanKataria assigned you the issue , try to complete it by Wednesday

[2021-03-13 19:32] maverick1910 opened #86 "Add new place page"
This page is used to add a new place , monument etc.

The page should be having a very neat UI design with better CSS frameworks

Details:
1. Name of the Place
2. Image
3. Category (Social,Heritage sites etc)
4. Description (should have all text formatting options like bold , font size etc)
5. Google Map Location Link
6 . Tags

[2021-03-13 19:32] GulshanKataria commented on #84
@maverick1910 Yes I will complete it by Wednesday

[2021-03-13 19:33] maverick1910 opened #87 "Change Password Page"
This page should have all the details about changing password for a user

[2021-03-13 19:36] maverick1910 opened #88 "User Profile Page"
This Page should be having a good UI with usage of frameworks like Bootstrap. This page is the profile page for users

Details about page:
1. Profile Picture
2. Name
3. Age
4. Email
5. Phone number
6. Recent contributions ( the number of places he/she has added)
7. Update Button

[2021-03-13 19:37] GulshanKataria commented on #84
@maverick1910 I had one doubt. Can you please clarify. for the Book Pass page issue. am I supposed to integrate the backend as well or Do I just need to Develop the front end(UI) for this page?

[2021-03-13 19:39] maverick1910 opened #89 "Contact Us Page"
This page will help users to contact the dev organization. Should have good UI

Details:
1. Name
2. Email
3. Phone Number
4. Comments
5. Google Map for office Location (organization's location)
6. Organization's contact details (email,phone number)

[2021-03-13 19:39] maverick1910 commented on #84
Just the front end

[2021-03-13 19:40] GulshanKataria commented on #84
@maverick1910 Thank you for the clarification

[2021-03-13 19:44] maverick1910 opened #90 "Places by Category (Front End)"
This page should have a grid layout where the places are categorized. The Grid layout should be as a card , when hovered the name of the category shall appear.

Categories can be
1. Monuments
2. Social Places
3. Camping sites
4. Travel
5. Food

[2021-03-13 19:51] maverick1910 commented on #84
@GulshanKataria you're welcome :)

[2021-03-13 20:04] Vedant-Rahane commented on #83
I am working on it.
Thank you !

[2021-03-13 20:08] maverick1910 commented on #83
Please try completing it by Friday , so that we can move ahead with the other UI iterations
All the best :)

[2021-03-14 00:24] EANimesha commented on #82
Thanks, @maverick1910 I am working on frontend design

[2021-03-14 02:03] WebVishal commented on #90
Hi @ maverick1910 I'm Vishal I want to contribute to this project as a participant GSSoc'21 Can you assign this task to me Earlier too, I improved the main section with the help of grid display

[2021-03-14 03:03] banshita209 commented on #89
I am a GSSOC participant I like to work on this issue kindly assign it to me.

[2021-03-14 03:11] Vedant-Rahane commented on #83
@maverick1910 should we include country field in registration form as tourist can be from outside India.

[2021-03-14 03:15] deek121477 commented on #88
I would like to work on this issue

[2021-03-14 03:15] maverick1910 commented on #83
Sure , add that field as well !

[2021-03-14 04:59] promaroy commented on #86
Can I work on this?

[2021-03-14 05:10] harinyadevi commented on #87
@maverick1910 I would like to work on this issue

[2021-03-14 05:12] maverick1910 commented on #87
Hey @harinyadevi , I've assigned you the issue , please try to create a PR within the next 1 week

[2021-03-14 05:21] maverick1910 commented on #86
Hey @promaroy I've assigned you the issue please try to create a PR within one week for further review

[2021-03-14 05:24] maverick1910 commented on #88
@deek121477 I've assigned you the issue, please try to submit a PR within 1 week for further review

[2021-03-14 05:25] maverick1910 commented on #89
Hey @banshita209 I've assigned you the issue
All the best

[2021-03-14 05:26] maverick1910 commented on #90
Hey @WebVishal , I've assigned you this issue , all the best

[2021-03-14 05:27] padmajabhol commented on #89
I want to work on this issue.

[2021-03-14 05:28] promaroy commented on #86
Sure. Thankyou. This page is going to contain a form with the above mentioned fields right?

[2021-03-14 05:30] padmajabhol commented on #87
I want to work on this issue. Is it possible that you can assign me this?

[2021-03-14 07:55] Vedant-Rahane commented on #83
@maverick1910 I have created registration page like this please check if there should be any changes.

![registration-page](https://user-images.githubusercontent.com/71424483/111061112-a403c180-84c7-11eb-815d-abcc738aabcb.png)

Also we can modify -

- Phone no.
 We can have option to select country code, currently we can only add text in it.

 Like this -

![phonecodes](https://user-images.githubu

[2021-03-14 08:36] maverick1910 commented on #83
This is perfect , you can go ahead and make a PR

[2021-03-14 08:36] maverick1910 commented on #83
Try to change the buttons at the bottom,it looks like a card which has buttons inside of it, try creating separately

[2021-03-14 08:37] maverick1910 commented on #83
@Vedant-Rahane also when you make a pr
Please make it this way

Issue Name-Your Name

[2021-03-14 08:39] maverick1910 commented on #83
@Vedant-Rahane go ahead with jQuery as well, create a folder for jquery inside assets

[2021-03-14 08:40] maverick1910 commented on #87
@padmajabhol the page has already been assigned , I will try creating some more issues and let you know

[2021-03-14 08:40] maverick1910 commented on #86
@promaroy yes

[2021-03-14 08:42] maverick1910 commented on #89
@banshita209 are you willing to work on the issue ?, please let me know.
If not, I shall assign this to @padmajabhol

[2021-03-14 08:43] maverick1910 commented on #89
@padmajabhol if no one replies this in the next 4 hours, I'll assign this to you

[2021-03-14 09:17] deek121477 commented on #88
@maverick1910  Thank you for assigning me for this issue.

[2021-03-14 09:30] Srijan205 commented on #87
I want to work on this issue.

[2021-03-14 09:34] n-coder2k commented on #89
I want to work on this issue as GSSOC participant .

[2021-03-14 09:44] balarka135 commented on #85
I like to work on this issue. Please assign me.

[2021-03-14 09:51] fatma-sia27 commented on #59
Hello @project admin. please assign this project to me as Iam new to HTML and CSS so I can work on this project .
Thank you.
Aasia fatma

[2021-03-14 09:54] fatma-sia27 commented on #34
Hey @project admin , please assign this project to me as I learned HTML nd CSS recently so I can work on it.
Thank you.
Aasia fatma

[2021-03-14 11:23] shreyanshi16 commented on #90
Hey! I would like to work on this issue. Please assign this issue to me.

[2021-03-14 11:25] banshita209 commented on #89
yes, I want to work on this issue.
Thank you for assigning it to me.
sorry for replying late.

[2021-03-14 11:33] akshatvirmani commented on #85
I would like to work on this issue. Please assign this to me.

[2021-03-14 11:36] akshatvirmani commented on #18
I would like to work on this issue. Please assign this to me.

[2021-03-14 11:41] akshatvirmani commented on #13
I would like to work on this issue. Please assign this to me.

[2021-03-14 12:01] maverick1910 commented on #85
@balarka135 @akshatvirmani I have assigned the issue to both of you, please work with each other and come up with the UI

[2021-03-14 12:21] Vedant-Rahane commented on #83
Ok, I will make PR when registration page is completed.

[2021-03-14 12:55] khareyash05 commented on #43
@sgpritam Could you pls also add a level label to the same

[2021-03-14 14:23] balarka135 commented on #85
@akshatvirmani I didn't find your discord name. Please dm me discord name . my discord name is "balarka(p)#2255". I have to discuss with you about  UI of this project.

[2021-03-14 17:24] anamkaa commented on #86
I would like to work on this issue. Please assign it to me.

[2021-03-14 17:26] SAHU-01 opened #92 "Landing or homepage of Website (Front-end)"
I'd like to work on the homepage of the delhi -tourism website as GSSOC Participant

[2021-03-14 17:44] harinyadevi commented on #87
Sure. Thanks for assigning.

[2021-03-14 17:49] maverick1910 commented on #92
We have already assigned the home page to a contributor, please look into our contributors.doc for further contrbuting options

[2021-03-14 18:16] #92 closed

[2021-03-14 18:20] SAHU-01 opened #93 "Gallary Page(Front-end)"
I'd like to contribute by makeing a gallary.html where according to different categories the images will be shown.

[2021-03-14 19:35] Ayushbajpai19 commented on #93
I would like to contribute to this issue under GSSOC'21. So I can start working on it once you approve.

[2021-03-14 20:21] Vedant-Rahane commented on #83
@maverick1910 Check out now -

![resgistration-completed](https://user-images.githubusercontent.com/71424483/111082887-afd79e00-8530-11eb-9064-980ade3a5bee.png)

Should I make PR ?

[2021-03-14 21:05] Vedant-Rahane commented on #83
@maverick1910  Is folder structure correct ?

![folder-check](https://user-images.githubusercontent.com/71424483/111084157-ffb96380-8536-11eb-964a-bc457abdd43a.png)

[2021-03-15 01:51] maverick1910 commented on #83
@Vedant-Rahane yes, you can make the PR now, the directory structure is correct as well

[2021-03-15 05:27] #18 closed

[2021-03-15 12:01] mu593 commented on #78
THANK  TO YOU.

[2021-03-15 13:12] neha030 commented on #93
I am a GSSOC participant and want to work on the issue...
I can create a html file which will have different sections with various images.
please assign me this.

[2021-03-15 13:27] #43 closed

[2021-03-15 14:49] ShambhaviSharma0110 commented on #80
Hey, I'm interested in this project could you please allow me to make a pr?

[2021-03-15 21:49] bitaashna opened #99 "adding home page"
I would like to create a home page which will consist of navigation bar and routes to different pages by just clicking on it.
The home page will be having following features scrollling to the up of the page when bottom is reached
I will be using animations to make it more attractive
**I would like to contribute to it.
Can you please assign it to me under the label GSSOC'21**
@maverick1910

[2021-03-16 05:21] Harshpatel2222 commented on #86
I would like to change style of this page so can you assign it to me?

[2021-03-16 08:13] Elizah550 commented on #99
Heyy !!!
I am a web developer have great experience and I can work on this issue please assign it to me. My results will never make you unhappy.
Thanks !!!

[2021-03-16 08:14] Elizah550 commented on #93
Heyy !!!
I can work on this with great difference please assign it to me.I have good experience in web development.
Thanks!!

[2021-03-16 08:15] Vijay-Git03 commented on #89
Hello @maverick1910
I am GSSOC'21 participant and I wanted to do contribute in this issue , can you assign this issue to me..!

[2021-03-16 08:17] Elizah550 commented on #90
Heyy !!
I can work on this issue I am a GSSOC '21' participant  and want to contribute to this lets make this happen assign it to me thanks  !!

[2021-03-16 16:17] EANimesha commented on #82
@maverick1910 could you please add level label. otherwise, my contribution may not be counted for gssoc

[2021-03-16 16:51] #82 closed

[2021-03-16 17:44] padmajabhol commented on #22
@sgpritam please review it.

[2021-03-16 17:44] #17 closed

[2021-03-16 17:46] Raj142 opened #104 "I would like to add "the number client visited to website" in footer section"
please assign it me. i am a participant of GSSoC'21

[2021-03-16 17:51] ketakitankk commented on #45
Hi, I'm interested, please assign me an issue!

[2021-03-16 18:20] GulshanKataria commented on #84
@maverick1910 sir. since pr has been merged .can you please add level label

[2021-03-16 19:34] sahilempire opened #105 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will **update contributor list in README.md automatically** !! Will start to work on this **issue as soon as I get assigned** !

Thank You

[2021-03-17 02:08] bitaashna commented on #81
@maverick1910  I would like to contribute to it,Please assign me this under the label GSSOC'21

[2021-03-17 02:52] bitaashna commented on #25
I would like to contribute to it as a part of GSSOC'21. Please assign it to me.

[2021-03-17 03:18] bitaashna opened #107 "Display Address Location on Google Maps using Places AutoComplete"
In Add new place.html, there is a option called enter location link of place you entered.
In that place, I would like to adda a map which will search for that location.
I have attached What I will be displaying
![map](https://user-images.githubusercontent.com/57864526/111409639-583a5d80-86fd-11eb-9092-91bb30810e87.gif)

**.I would like to contribute to it.Please assign me this issue under the labe

[2021-03-17 03:21] #99 closed

[2021-03-17 04:40] rohank2502 commented on #105
Copy #64

[2021-03-17 06:39] aditidewangan commented on #40
I would like to work in these issue. I am  GSSOC'21 participant and I have good knowledge in frontend. Please assign me this issue.

[2021-03-17 06:42] Elizah550 commented on #58
Heyy!!!
I have worked on this through my learning journey. You can assign it to me.  I can add best preloader to this.
thanks !!!!

[2021-03-17 06:43] aditidewangan commented on #19
I like to work on this issue. I am GSSOC'21 participant and wanted to make changes in frontend.

[2021-03-17 09:43] Ashwani132003 opened #109 "Showing No. of Passes 2 times."
It's not showing Adult/Children with No. of passes , I would like to add them .

[2021-03-17 09:44] RaveenaBhasin opened #110 "Adding Project Admin and Contributors in the Readme.md"
We can make a section in the readme.md file where we can mention the picture and name of project admin and contributors in square boxes to make it more attractive.

[2021-03-17 10:15] aditidewangan commented on #89
Hey I would like to work on this issue. I am GSSOC'21 participant. Please assign me.

[2021-03-17 11:42] Avishake007 opened #112 "Nav-Bar-Responsive and Design"
I want to change the responsiveness and design of nav bar.
@PoojaMittal2842 please assign me for this task

[2021-03-17 13:46] Dwitrisha commented on #58
@Elizah550 Actually I'm working on this so I created the issue

[2021-03-17 13:47] AnanyaThapliyal2303 commented on #59
I wanted to work on this so I created this issue @fatma-sia27

[2021-03-17 13:56] Elizah550 commented on #58
Ok Sounds great folk !!!
Happy learning !!!

[2021-03-17 15:40] aashi2912 opened #113 "Improvement in navbar - Want to make navbar fixed."
I want to make the navbar as fixed on top of the website.

When we will scroll the website as it has long and many sections the navbar style will be fixed at top.

**GSSOC21** Please assign this issue to me :)

[2021-03-17 15:44] aashi2912 opened #114 "Want to add some blogs in blog section of navbar"
I want to add some amazing  blogs to the website in the blog section of page.

**GSSOC21**

@PoojaMittal2842 @sgpritam  Please assign this to me.

[2021-03-17 15:46] aashi2912 opened #115 "Add content in Tour section of navbar."
Tour section - world famous
                       Family spots
                       Couple spots
                       Nature's Beauty

I want to add some amazing content and data(places to this sections)

@PoojaMittal2842 @sgpritam  Allow me and assign me :)
**GSSOC21**

[2021-03-17 18:30] maverick1910 opened #116 "Style home.html page"

[2021-03-17 18:31] maverick1910 commented on #112
@Avishake007 assigned, please make changes to the index.html file
submit it within 2 days

[2021-03-17 18:35] gaurav24072002 commented on #116
@maverick1910  you can assign it to me. Please add level tag also to it. Thank you
### I would be making these new changes:
 (**IF you want to add more suggestion please add them I'll be more then happy to work on them**)
-Make The Home Page More Attractive
-Create About us Page
-Add navbar to all the page

[2021-03-17 18:47] K-jais opened #117 "Add Profile Page"
The profile page can be added to this website which shows the user's details and the option to change its password or any detail.

[2021-03-17 18:48] K-jais opened #118 "Style Change Password Page"
I can style the Change Password page which just matches with the UI of the site.

[2021-03-17 18:51] K-jais opened #119 "Add Bookmark option to each tourist place"
I can add a bookmark option to each tourist place so that the user can save that particular tourist place in its database. So that they can have a list of their favourite places.

[2021-03-17 18:52] K-jais commented on #88
I can work on this issue efficiently. Please assign me this issue.

[2021-03-17 18:57] K-jais opened #120 "Add Light Dark Mode"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as whats its preferable UI is either light or dark.

[2021-03-17 20:03] Upasana1216 commented on #116
I would like to work on this. Please assign this to me

[2021-03-18 05:09] Deeks900 opened #121 "Enhancement in the About Section Of Home Page"
I would like to contribute as a GSSOC'21 Participant.I've noticed that home page needs modifications in the about section like adding some effects in the text, making the heading more attractive and adding some SVGs in it.Please assign this issue to me

[2021-03-18 05:17] Deeks900 opened #122 "Enhancements In the Add a new place page"
I would like to make changes in the css of add new place/monument.I want to do these changes-
1.Add some svgs.
2.Adding some css in text and headings.
3.Aligning the headings and boxes in the center of the page.
4.Adding icons in the text labels.
Please assign this issue to me.I want to contribute as a GSSOC'21 participant.

[2021-03-18 07:45] gaurav24072002 opened #123 "Create About us Page"
I'll be making About us page for website with styling . Please , assign this to me and add GSSOC '21 and Level Tag to it.
I have send a pull request also for :
- Connecting all the pages together .
- Adding navbar to all the pages .
- Creating About us page (I want to style it and add more components to it).
- Adding scroll up button
@maverick1910  and @PoojaMittal2842 can see the improved website

[2021-03-18 08:08] shreyanshi16 commented on #116
I want to work on this issue. Please assign this to me.

[2021-03-18 12:41] gnikita432 opened #125 "Add a Preloader"
Add a preloader in website

[2021-03-18 14:17] #109 closed

[2021-03-18 14:18] Ashwani132003 commented on #109
I had updated it on  Book Pass.

[2021-03-18 15:08] ShambhaviSharma0110 commented on #115
Hey! I can work on this, please allow me...
-gssoc '21 participant

[2021-03-18 18:19] maverick1910 commented on #125
@gnikita432 go ahead !!
Please add a preloader to all the files

[2021-03-18 18:19] #123 closed

[2021-03-18 18:20] maverick1910 commented on #116
@gaurav24072002 go ahead !
@Upasana1216 I will be assigning you other tasks as gaurav approached first for the issue

[2021-03-19 02:49] gnikita432 commented on #125
Sure, Thank you for assigning.

[2021-03-19 02:52] gnikita432 commented on #125
@maverick1910 can you please label this issue with gssoc21 and the level of the issue, so that my contribution would count under gssoc21

[2021-03-19 10:33] avinashjha1320 opened #128 "Styling of Index Page [GSSoC'21]"
The styling of the index page is distorted. Can I fix this issue under GSSoC. @maverick1910 Can you assign this issue to me.
Here is the examples-
![a0c9aa3d-14d2-45f9-bcf2-55fcc9a6a95d (2)](https://user-images.githubusercontent.com/71824792/111767268-83bf7280-88cc-11eb-8fbe-d17177c7ffd1.jpg)
![a0c9aa3d-14d2-45f9-bcf2-55fcc9a6a95d (3)](https://user-images.githubusercontent.com/71824792/111767271-8

[2021-03-19 18:06] #112 closed

[2021-03-19 18:08] maverick1910 commented on #128
@avinashjha1320 go ahead !!

[2021-03-19 18:09] maverick1910 commented on #120
@K-jais go ahead , add it to all the page

[2021-03-19 18:15] K-jais commented on #120
Thank you for assigning me this issue.

[2021-03-20 14:52] maverick1910 opened #132 "Restructure the Files"
Restructure all the files in the mentioned format in contributors.md doc

[2021-03-20 16:20] bitaashna commented on #132
I would like to work on this as a GSSOC'21 participant.
Can you please assign this task to me.
Could you please elaborate what I have to do.

[2021-03-20 18:09] Raj142 commented on #116
i want to work on this issue please assign it me as part of GSSoC'21 .

[2021-03-21 02:03] rohank2502 opened #133 "Host a Demo of site using Github pages !!"

[2021-03-21 05:30] mis-coder opened #134 "Design Issue: Change the hover effect of places cards on home page"
When we hover those places cards on the homepage, the images are translated upwards due to which other content is hidden, which I think is not a good way of styling.

So I would like to change the hover effect of those cards to an overlay. Basically when someone will hover on any of the cards, the content will appear as an overlay.

This is an example, of what I want to do:
![image-hover](https://

[2021-03-21 13:16] WebVishal opened #135 "Routing with help of nodejs"
hi, @maverick1910  Many beautiful pages have been developed by the developers in the last few days. I felt that we should be routing in this project with the help of the express module of node js.
can I work on this issue as Gssoc'21 participates?

[2021-03-21 18:06] maverick1910 commented on #135
@WebVishal we still have some iterations with the project , I will let you know about it soon

[2021-03-21 18:07] maverick1910 opened #136 "Make style changes to the contact us page"
The contact us page needs some style changes , beautify the contact us page

[2021-03-21 18:09] maverick1910 opened #137 "Style the User profile page"
The user profile page is named page.html in the repo, make some better style changes to it

[2021-03-21 18:12] maverick1910 opened #138 "Restructure the files and modules"
Restructure the files and folder as per the contributors.md doc has mentioned and also don't forget to change the links for all the images,CSS,js files in the HTML

[2021-03-21 18:13] maverick1910 commented on #134
@mis-coder go ahead, please try to submit it within 4 days

[2021-03-21 18:14] avinashjha1320 commented on #138
Hey can i do the issue.

[2021-03-21 18:14] avinashjha1320 commented on #137
Can you assign this issue to me.

[2021-03-21 18:14] avinashjha1320 commented on #136
Can you assign this issue to me.

[2021-03-21 18:17] maverick1910 commented on #138
@avinashjha1320 sure!

[2021-03-21 18:27] gaurav24072002 commented on #138
Hey  ! can I also help in this issue?

[2021-03-21 18:28] gaurav24072002 commented on #136
can I also help in this issue? Please assign this to me...

[2021-03-21 21:18] Nikitha2309 commented on #136
Hey @maverick1910 , I am interested to work on this issue . I can make some good changes to frontend and improve the style of contact us page .

So can u assign this to me also . 🙂

Thank you .

[2021-03-22 03:35] mis-coder commented on #134
Sure, and please assign it to me as you haven't yet. Though I have started working on it already.

[2021-03-22 08:13] himanshujaidka opened #140 "need 2 separate folders"
we need 2 separate folders named as frontend and backend

[2021-03-22 08:51] nandini040 opened #141 "Update README.md with contributors section"

[2021-03-22 08:54] Subhangini commented on #141
would like to work on this issue

[2021-03-22 08:56] #141 closed

[2021-03-22 19:58] shitesh2607 opened #143 "Social media icons is not visible and Register & Login links are not working."
![LogIn](https://user-images.githubusercontent.com/72928430/112050552-00757980-8b77-11eb-9768-973e701b0d81.png)
![Register](https://user-images.githubusercontent.com/72928430/112050559-023f3d00-8b77-11eb-84d1-0481a59fcb73.png)

[2021-03-23 06:33] madihamallick opened #145 "adding an icon to the heading"
![Capture](https://user-images.githubusercontent.com/70858557/112103183-67bf1800-8bcf-11eb-87ae-01259f68a1cc.PNG)

I would like to add this icon to the heading. Please assign this to me under GSSoC

[2021-03-23 06:41] madihamallick opened #146 "styling gallery.html page"
![Capture](https://user-images.githubusercontent.com/70858557/112104113-c5079900-8bd0-11eb-98d6-c76714c2edba.PNG)

I would like to style this page. Please assign this to me under GSSoC.

[2021-03-23 16:35] #134 closed

[2021-03-23 16:53] KIIRTHANA commented on #116
Hey @maverick1910,
I would like to work on this issue.
Could you please assign it to me?

[2021-03-23 17:04] KIIRTHANA opened #148 "Header Alignment"
**Explanation**
I'd like to change the header alignment of the home page. Could you assign it to me?

[2021-03-23 17:49] KIIRTHANA commented on #148
I've changed the Nav bar from this -
![Screenshot 2021-03-23 at 11 13 12 PM](https://user-images.githubusercontent.com/52819184/112193547-febabd00-8c2d-11eb-98c5-7d93f397494b.png)

to this -

![Screenshot 2021-03-23 at 11 13 26 PM](https://user-images.githubusercontent.com/52819184/112193571-04b09e00-8c2e-11eb-8470-4007312b97b5.png)

I've also removed the old home.html file to avoid confusions for

[2021-03-24 13:23] maverick1910 opened #152 "Admin Dashboard"
This is an Admin Dashboard for the whole website this will be divided into 2 parts and have to be taken up by 2 people atleast
The functionalities are

Side Nav :
The side navigation should have the following options
Home
This should have the info about no of users, places, etc (use visualized graphs)
-Metrics
(This will have website analytics)
-Passes
This will have all the passes bought sorted b

[2021-03-24 13:24] avinashjha1320 commented on #152
Hey can i work on this issue

[2021-03-24 13:26] maverick1910 commented on #152
@avinashjha1320 go ahead!

[2021-03-24 15:58] ANSHIKA1806 opened #154 "UPDATE README"
@sgpritam @maverick1910  I want to update the readme fil of this project to make it more descriptive and easy to understand the project. Please assign this task to me, I would love to contribute in this project.

[2021-03-24 19:01] #148 closed

[2021-03-24 19:05] #105 closed

[2021-03-25 16:38] gayatri517 opened #155 "Adding icons in the contact us section."
I want to add font awesome icons in the contact us section, near the location and the contact number.
I really want to work on this issue as a participant of GSSOC'21.
@maverick1910 please assign it to me.

[2021-03-25 18:58] KIIRTHANA opened #156 "Fix: Navbar alignment & Missing links"
**Explanation**
In the file index.html
Due to some error in the navbar display, not all the links are visible and the alignment is off.
![Screenshot 2021-03-25 at 11 03 08 PM](https://user-images.githubusercontent.com/52819184/112528398-1af36100-8dca-11eb-8987-4f8840734ece.png)

[2021-03-25 19:13] KIIRTHANA opened #158 "Fix: Search button & Add Filter"
**Explanation**
Search button in the page Browse_Places.html isn't working. Options to search don't appear on hover. Instead, they are visible by default.

![Screenshot 2021-03-25 at 11 47 40 PM](https://user-images.githubusercontent.com/52819184/112530057-01531900-8dcc-11eb-98cc-8eb559dd1f87.png)

[2021-03-25 19:23] KIIRTHANA commented on #158
Fixed
PR - https://github.com/PoojaMittal2842/Delhi-Tourism/pull/159

[2021-03-25 19:23] #158 closed

[2021-03-25 19:24] KIIRTHANA commented on #156
Fixed
Fixed navbar alignment and links #157

[2021-03-25 19:24] #156 closed

[2021-03-26 02:40] bindu030 opened #160 "Adding a 404 page"
To add a 404 error page to keep a visitor on your site even if he/she hits a page that doesn't exist. Please assign this issue to me @PoojaMittal2842  as I'm a participant of GSSOC'21.

[2021-03-26 06:47] avinashjha1320 opened #162 "Dark Mode of Admin Page"
@maverick1910  I wanted to add the dark mode feature to Admin Page can you assign this task to me.

[2021-03-26 17:24] maverick1910 commented on #162
@avinashjha1320 go ahead

[2021-03-26 17:25] maverick1910 commented on #160
@bindu030 go ahead!

[2021-03-26 21:05] SrishtiSingh2001 opened #164 "To provide required links to location and mail in Contact Us Section"
**Problem Statement**
There is no link attached to contact us section so that on one click user is prompted to send mail and can go to the wikipedia of Delhi respectively.

**Solution**
This is to add links to mail and location and make the interface user friendly.

Kindly assign this issue to me under GSSoC'21.

[2021-03-27 14:52] ANSHIKA1806 commented on #133
@PoojaMittal2842 @maverick1910 @sgpritam
Hello sir/mam , I can host your websiter on github , please assign this task to me . I had already contributed in your organization would love to contribute more.

[2021-03-27 15:09] Mrinal81 commented on #28
@PoojaMittal2842  I am attaching the video of registration page which i have created..

https://user-images.githubusercontent.com/76482022/112725099-75acca00-8f3c-11eb-844f-c8319774efa4.MP4

[2021-03-27 15:11] ANSHIKA1806 commented on #145
@PoojaMittal2842 @maverick1910 @sgpritam
Hello mam/sir , please assign this task to me , I am good in logo design . I had already contributed in your organization . I would love to contribute more.
Thank you.

[2021-03-27 15:29] ANSHIKA1806 opened #167 "Update UI of Contact us page"
@PoojaMittal2842 @maverick1910 @sgpritam
Hello, mam/sir  I want to update UI of Contact us page , it required some modifications or improvements . Please assign this task to me. I am good in UI design and I had already contributed in your organization . I would to contribute more.
Thank you.

[2021-03-27 15:30] ANSHIKA1806 commented on #167
@PoojaMittal2842 @maverick1910 @sgpritam
please assign this task to me. Thank you.

[2021-03-27 15:40] ANSHIKA1806 opened #168 "Add logo to website"
@PoojaMittal2842 @sgpritam @maverick1910
As logo

So I want to add logo to your website.

[2021-03-27 15:41] ANSHIKA1806 commented on #168
@PoojaMittal2842 @sgpritam @maverick1910
Please assign this task to me.
Thank you.

[2021-03-27 17:48] ANSHIKA1806 opened #169 "Proper Navbar Alignment"
![Screenshot (627)](https://user-images.githubusercontent.com/71966377/112729490-5faa0400-8f52-11eb-8965-133d3705bce5.png)
As in the home page login tab is not properly align. I want to modify navbar and make it to look more attractive.

[2021-03-27 17:50] ANSHIKA1806 commented on #169
@PoojaMittal2842 @maverick1910 @sgpritam
Please assign this task to me .
Thank you.

[2021-03-27 18:01] ANSHIKA1806 opened #170 "Adding small description to footer"
![Screenshot (635)](https://user-images.githubusercontent.com/71966377/112729839-499d4300-8f54-11eb-90e8-2341fbc83cfb.png)
A small description is needed in footer about section . I am good in content writing, I would love to contribute on this.

[2021-03-27 18:05] ANSHIKA1806 commented on #170
@PoojaMittal2842 @maverick1910 @sgpritam
Hello, mam/sir please assign this task to me.
Thank you.

[2021-03-27 18:12] SrishtiSingh2001 commented on #164
@maverick1910 kindly assign this issue to me.

[2021-03-27 20:23] padmajabhol opened #171 "Improve Details section."
I want to change the UI of the details section and make it better.

[2021-03-28 05:55] Avantika184001 commented on #169
@PoojaMittal2842 I would like to resolve this issue.
 Please Assign this task to me :)

[2021-03-28 06:48] avinashjha1320 opened #172 "Linking of Gallery section and alignment of Navigation bar"
@maverick1910 I want to resolve this issue.
Linking of Gallery section from the index page to respective page and alignment of the Navigation bar.

[2021-03-28 06:52] avinashjha1320 commented on #172
I will also link the pages with footer section details.

[2021-03-28 11:35] pragati-kumar commented on #137
Hello @maverick1910. I'm a GSSOC'21 participant and I believe that I could further enhance the theme of the user profile page. I would also like to propose a dual theme button so would really like to contribute to this issue.

[2021-03-28 18:23] maverick1910 opened #173 "Backend Folder structure"
Create the backend folder structure for the project
The backend used is Node.js, Express, MongoDB, .ejs

the folders should be
views --> .ejs files
public--> css,js,images etc

[2021-03-28 19:51] shitesh2607 commented on #160
Can I work on this issue?

[2021-03-28 22:54] K-jais commented on #173
Yaa, I will handle this backend folder structure issue. Please @maverick1910  assign this issue to me.

[2021-03-29 03:21] WebVishal opened #175 "Improvment "Browse Places" page, added More places"
Hey @ maverick 1910 When I checked the browse place page, I realized that we should also add some other places like shopping, picnic parks, Hotels. and  All the locations on this page are placed vertically, I think they should be placed  horizontally with the help of the grid property, which looks better
![Screenshot (100)](https://user-images.githubusercontent.com/76445546/112782937-cec74b80-906b

[2021-03-29 03:41] #39 closed

[2021-03-29 08:24] maverick1910 commented on #173
@K-jais go ahead !!

[2021-03-29 09:19] meghnabajoria opened #176 "Redundant information in Login page"
![image](https://user-images.githubusercontent.com/50470784/112815334-d43d8980-909d-11eb-972e-d988dfe52175.png)

I would like to remove the redundant line at the end and enhance the UI of the page. Please assign it to me under GSSOC'21

[2021-03-29 09:46] meghnabajoria opened #177 "Make all the font style same in NavBar"
![image](https://user-images.githubusercontent.com/50470784/112818624-5da28b00-90a1-11eb-8279-e74bee97b597.png)

You can see that the font style and size of "Dark" are different from other options. I would like to make it same and also change the icon for "contact us" to a better one.

@maverick1910  please assign this issue to me under GSSOC'21

[2021-03-29 10:17] divyanshkhatana opened #178 "making BOOK PASS button more stylish and highlighted"
Want to give more style to the "BOOK PASS" button . As it is less attractive in side ,soo want to shift to accurate position and also want to change the box to scroll down button

Please @maverick1910 assign this issue to me.
![image](https://user-images.githubusercontent.com/44130452/112822754-f509dd00-90a5-11eb-84d7-100c44c6ced7.png)

[2021-03-29 10:28] divyanshkhatana opened #179 "Smoothen the scrolling of page when press bookpass button"
when we click on bookpass button we directly reach to to "bookpass now " felling details. so I want to add a smooth scroll down
feature instead of sudden scroll.
![image](https://user-images.githubusercontent.com/44130452/112823412-e112ab00-90a6-11eb-8a31-44654bb8a5e8.png)

[2021-03-29 11:15] Gayatribhosale2610 opened #180 "Improve category section"
I want to change category section more better  and want to change transition effect which look better after changes.
![Screenshot (450)](https://user-images.githubusercontent.com/65784117/112828990-179ff400-90ae-11eb-9221-642de3e00279.png)

[2021-03-29 11:37] padmajabhol commented on #22
@maverick1910 can you review and merge it? Please add a label too.

[2021-03-29 12:40] Vedant-Rahane commented on #83
@maverick1910 Can you please add level tag ?

[2021-03-29 13:40] K-jais commented on #173
I have to make another branch in the repository for the backend structure?

Or do I have to replace the project code which is there right now to the backend file structure?

[2021-03-29 14:03] Mrinal81 commented on #28
@PoojaMittal2842 kindly check the video if any change you want I will change it..

[2021-03-30 06:40] Vedant-Rahane commented on #83
While adding dark mode my code got comment so the functionality of country name and telephone code is not working also image src is unknown so image is broken .
Should I open new issue and fix this.

![commentregis](https://user-images.githubusercontent.com/71424483/112944663-c1d05800-9150-11eb-96a3-fbd55b48143e.png)
![regiscorrec](https://user-images.githubusercontent.com/71424483/112944682-c98ff

[2021-03-30 07:07] K-jais commented on #173
Sir please reply to this text...

[2021-03-30 13:13] Jassi10000 commented on #152
@maverick1910 The dashboard will also require validation , if the dashboard is built , then I can help @avinashjha1320  adding that too

[2021-03-30 20:02] #74 closed

[2021-03-31 06:43] meghnabajoria commented on #177
@PoojaMittal2842  @maverick1910 Can you please assign this issue to me under GSSOC'21?

[2021-03-31 06:44] meghnabajoria commented on #176
@PoojaMittal2842 @maverick1910  Can you please assign this issue to me?

[2021-03-31 10:52] Khushi-agarwal opened #189 "Enhancement of Review Section"
Hi!
I am a Gssoc 2021 participant and would like to contribute to this project by changing the review section by adding big fonts to the title and also adding flip card animation to it. I want to make the review section in the form of cards.
So please @maverick1910 can you assign me this issue.

[2021-03-31 17:58] arpit456jain opened #190 "[Gssoc'21] Add a cool toggle button"
Add a cool toggle button for changing mode between dark mode and light mode
currently its like this.

<img width="210" alt="Untitled11" src="https://user-images.githubusercontent.com/55352601/113188988-5386b500-9278-11eb-9360-1a2e613da672.png">
Its very simple
I want to replace it with this.

https://user-images.githubusercontent.com/55352601/113189167-85981700-9278-11eb-95ab-41f462f014e7.mp4

[2021-04-01 04:11] gaurav24072002 opened #191 "Create the Backend part"
## Describe the solution you'd like...

- Creating all the folders for backend eg. separate folder for all HTML,CSS - public folder and src folder - for all js files.
- files like .gitignore , .gitkeep.
- If we want to make this project a MERN Stack project we need to convert it from frontend to React based project.
- for further changes we can discuss together...

**Let's move together to Backend

[2021-04-01 07:07] divyanshkhatana commented on #179
@maverick1910 can you please assign this issue to me?

[2021-04-01 07:08] divyanshkhatana commented on #178
@maverick1910 can you please assign this issue to me?

[2021-04-01 07:14] divyanshkhatana opened #193 "Enhance the CHANGE PASSWORD page"
Can add the navigation bar and enhance the UI of the change "password page"
![image](https://user-images.githubusercontent.com/44130452/113257175-d7c45100-92e7-11eb-9311-73619aa9e167.png)

[2021-04-01 07:15] divyanshkhatana commented on #193
@maverick1910 please assign this issue to me under GSSOC'21

[2021-04-01 11:53] Khushi-agarwal commented on #189
@PoojaMittal2842 can you please assign it to me.

[2021-04-01 16:32] gaurav24072002 commented on #191
Any update @maverick1910  ??

[2021-04-01 19:09] bug-debug-done opened #194 "I am a GSSOC 21 participant I will design the UI of the home page with proper color scheme and Fonts"
I will make a proper UI design and a structure. It will make it easy for other coders to contribute. Then they will know which color scheme to follow. And will make it look better.

[2021-04-02 17:56] #107 closed

[2021-04-03 05:44] bug-debug-done opened #195 "Photos not loading"
![Screenshot from 2021-04-03 11-12-55](https://user-images.githubusercontent.com/75927761/113469734-ac6b6e80-946d-11eb-9820-67eea40e0464.png)
The photos of the website is not loading

[2021-04-03 05:46] gaurav24072002 commented on #191
Hey ! can you please give update on this issue so that I can start working on it.. @maverick1910

[2021-04-03 05:47] bug-debug-done opened #196 "About us section"
![Screenshot from 2021-04-03 11-15-34](https://user-images.githubusercontent.com/75927761/113469774-f5bbbe00-946d-11eb-8db0-bf60f154ef5a.png)
I will create a better about us page the theme will be based on delhi heritage

[2021-04-03 05:49] bug-debug-done commented on #25
@bitaashna hey can you please add the level tag

[2021-04-03 05:54] bug-debug-done opened #197 "Places to visit page is not there when we click on the "PLACES TO VISIT" About us page opens"
I will create a "PLACES TO VISIT" page and link it to Places to visit button

[2021-04-03 05:56] bug-debug-done commented on #197
@maverick1910 Please assigh this issue to me under GSSOC'21

[2021-04-03 05:57] bug-debug-done commented on #196
@maverick1910 Please assigh this issue to me under GSSOC'21

[2021-04-03 05:57] bug-debug-done commented on #195
@maverick1910 Please assigh this issue to me under GSSOC'21

[2021-04-03 11:14] divyanshkhatana commented on #179
@PoojaMittal2842 @maverick1910 Can you please assign this issue to me under GSSOC'21?

[2021-04-03 11:14] divyanshkhatana commented on #178
@PoojaMittal2842 @maverick1910 Can you please assign this issue to me under GSSOC'21?

[2021-04-03 17:53] avinashjha1320 opened #199 "Adding Booking section to the Index Page"
@maverick1910 I wanted to add the booking section to the index page.

[2021-04-03 18:26] Khushi-agarwal commented on #189
@maverick1910 can you assign this to me

[2021-04-04 11:29] maverick1910 opened #200 "Link all CSS , JS, Images according to the backend structure"
Due to the backend structure, the UI of the website is not visible, this is generally due to improper linking of css,js,images to the code.
Make changes to the website!

[2021-04-04 11:59] Vedant-Rahane commented on #200
I would like to work on this issue.
@maverick1910 Please assign me this.

[2021-04-04 17:10] K-jais commented on #200
Sir, the images, CSS, and js of all the pages are working fine. Just the pages of the Trash folder have not been updated. Rest all other pages are showing the images and the respective CSS styles. The error will be there if the npm packages have not been installed. For that just type, 'npm install' in the terminal when you are in the parent directory.

[2021-04-04 17:17] K-jais commented on #200
Only the Trash folder pages are not updated as they don't need to be used in the future. That's why those pages are in the trash.

[2021-04-04 18:24] #194 closed

[2021-04-04 18:27] #190 closed

[2021-04-04 19:27] Mrinal81 opened #201 "Website Visitors Counter"
I am a GSSOC'21 Participant. I will make website visitor counter which will show how many visitors check this website.

Please assign me this issue.

[2021-04-04 19:48] Mrinal81 commented on #201
I will make just like this..

https://user-images.githubusercontent.com/76482022/113519877-afb94400-95ac-11eb-91c9-470322820476.Mp4

[2021-04-05 04:50] Vedant-Rahane opened #202 "Registration page issue"
My registration page PR was merged, but due to recent changes by someone country selector and telephone code selector functionality is not visible. I want to fix this @maverick1910 Please assign me this.

[2021-04-05 08:13] harshb02 opened #204 "Enhancement of the book ticket section"
The header part of the book ticket sections looks not good. The yellow strips look very bad and the navbar too.

Can I work on this issue?

[2021-04-05 13:06] Vedant-Rahane commented on #202
Current screenshot :

![regis-before](https://user-images.githubusercontent.com/71424483/113576673-9e6c4800-963d-11eb-9387-58d26498c098.png)

After making changes :

![regis-after](https://user-images.githubusercontent.com/71424483/113571670-71676780-9634-11eb-9c5a-1497e75ce931.png)

[2021-04-05 13:07] Vedant-Rahane commented on #202
@maverick1910 Should i make PR ?

[2021-04-05 18:13] K-jais opened #206 "Authenticate and make login and Register Functional"
Sir, I want to add the authentication in the website as by making the login and register functional.

[2021-04-05 18:29] harshb02 opened #207 "To add footer in Book Ticket Page"
There is no footer in the Book Ticket Page.. So I would like to add one

Kindly assign me this issue @maverick1910

[2021-04-05 18:44] #202 closed

[2021-04-06 13:10] Vedant-Rahane opened #209 "Modify theme toggle"
The current theme toggle is very space consuming and less attractive.
I will modify with this :

![toggle](https://user-images.githubusercontent.com/71424483/113715688-6d584a00-9707-11eb-81aa-3634cfb5a17a.png)

@maverick1910 Please assign me this.

[2021-04-06 14:23] avinashjha1320 commented on #200
@maverick1910 Can I work on this issue.

[2021-04-06 18:07] K-jais opened #213 "Add Footer Section to the Category Page"
Add the footer section to the category page which will just complete this page.

[2021-04-07 08:19] harshb02 opened #214 "Aligning of Category Page"
The images are not aligned properly in the page and it looks very bad.

I will align them and will make them look good

Kindly assign me this issue @maverick1910

[2021-04-07 18:07] harshb02 opened #216 "Adding Navbar to every page"
I want to add Navbar to every page as it is not been added @maverick1910

[2021-04-07 18:09] harshb02 opened #217 "I want to re design the category page"
I want to re design the whole category page as it is not well designed and looks very bad.

Kindly assign me this issue @maverick1910

[2021-04-07 18:11] harshb02 opened #218 "Adding Footer to every page"
I want to add footer to every page as there is no footer added.

Kindly assign me this issue @maverick1910

[2021-04-07 19:22] maverick1910 opened #219 "Add Partials Folder"
Add header and footer in the partials folder for the boilerplate

[2021-04-07 19:23] harshb02 commented on #219
I want to work on this issue @maverick1910

[2021-04-08 03:27] #209 closed

[2021-04-08 05:27] tanishq-arya opened #222 "UI Issue: Hover issue"
The cursor should change to a pointer when hovering over some elements on the website. I would like to work on this under gssoc.
![image](https://user-images.githubusercontent.com/77333275/113972975-31cd9500-9859-11eb-9a7c-621287614a39.png)

[2021-04-09 07:00] adiig7 commented on #219
@harshb02 are you still working on this?

[2021-04-09 13:22] gayatri517 commented on #155
@maverick1910 Please add the GSSOC label and level to my PR, as it is not getting included in my score.

[2021-04-11 12:49] harshb02 commented on #219
Yess I have completed this issue @adiig7

[2021-04-11 13:38] Khushi-agarwal commented on #189
@maverick1910 I have created a new pr with all the conflicts resolved.Kindly review it.

[2021-04-11 17:22] #189 closed

[2021-04-13 02:56] avinashjha1320 opened #227 "Blogs checking site for admin"
@maverick1910 I want to take forward the admin page #152. I want to design a blog page where all blogs contributed by the contributors can be seen and even those blogs which are already present on the main site can be seen by the admin.

Can you please assign this task to me?

[2021-04-13 16:29] Vedant-Rahane opened #228 "Modify Logo of website"
I would like to modify the logo of website.
I have design new logo for website.

![delhi-home](https://user-images.githubusercontent.com/71424483/114587060-ec6af680-9ca2-11eb-8e4d-3a6e8cb09b5e.png)

@maverick1910 Please review and assign me this.

[2021-04-13 18:30] mohammedjameel24 opened #229 "Dark mode theme"
Dark mode theme

[2021-04-16 14:54] harinyadevi opened #231 "Feedback form in Home page"
A short feedback form for the users in the Home page which would help in enhancing the services.
(Front end)

@maverick1910
Requesting you to assign this issue to me.

[2021-04-17 13:11] rakshitnayak opened #232 "improve UI and responsiveness of category page."
The ui  of category page is looking dull compared to landing page. I will work on improving ui and make it more responsiveness.
I am a gssoc participant! can i work on this ??

![image](https://user-images.githubusercontent.com/62886278/115114319-43771100-9fac-11eb-8fc2-5adf2c1f014e.png)

![image](https://user-images.githubusercontent.com/62886278/115114295-26dad900-9fac-11eb-97e8-0c733ec8f8d7.png

[2021-04-17 13:19] rakshitnayak commented on #232
@maverick1910 please kindly assign the issue to me.!

[2021-04-17 16:00] rakshitnayak commented on #214
@harshb02 are you still working on this? it would be great if i get this issue assigned

[2021-04-17 16:13] srisatya1197 opened #233 "I want to add no.of forks, issues, stars and other in the readme file ."
I want to add no.of forks, issues, stars and other in the readme file .
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119418-e9834500-9fc5-11eb-989d-5f81f7c31ad7.png)
I want to work on this . Please assign me this issue @maverick1910 .

[2021-04-19 06:18] rakshitnayak opened #236 "browseplace page redesign."
the browseplace page has no navbar ,also the text color on images can be made more attractive. I am gssoc participant ,can this issue get assigned to me?

![image](https://user-images.githubusercontent.com/62886278/115189704-864bfc80-a104-11eb-8762-309671dfe6a3.png)

![image](https://user-images.githubusercontent.com/62886278/115189948-f064a180-a104-11eb-84e2-898e77b07012.png)

[2021-04-20 05:16] rakshitnayak commented on #236
@maverick1910  can you please assign this issue to me!!!!

[2021-04-22 07:28] maverick1910 opened #237 "Create a fully functional Blog using MongoDB , Express and Nodejs"

[2021-04-22 12:18] Vedant-Rahane commented on #237
I would like to work on this issue.
@maverick1910 Please assign me this.

[2021-04-22 17:23] avinashjha1320 opened #238 "Ticket booking checking page for Admin"
@maverick1910 I wanted to design the admin page where the admin can see the details of tickets booked with a graphical representation of revenue generated and other details.
Can you please assign this to me?

[2021-04-27 09:40] srishtij2000 commented on #19
Can I work on this issue?

[2021-04-27 09:41] srishtij2000 commented on #54
Can I work on this issue?

[2021-04-27 09:41] srishtij2000 commented on #40
Can I work on this issue?

[2021-04-27 09:42] srishtij2000 commented on #88
Can I work on this issue?

[2021-04-27 09:42] srishtij2000 commented on #89
Can I work on this issue?

[2021-04-27 09:43] srishtij2000 commented on #90
Can I work on this issue?

[2021-05-04 14:06] KajalSinghBAGHEL opened #245 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:06] KajalSinghBAGHEL commented on #245
I am a GSSOC participant. Can I work on this issue

[2021-05-09 01:11] srisatya1197 commented on #233
Hello @maverick1910 can you please see this issue, if it's good please assign this to me.

[2021-05-11 19:20] avinashjha1320 opened #249 "Users page of admin pannel"
@maverick1910 I want to add the page in the admin panel where the admin can see all the active users and contributors who contribute the photos and blogs regarding tourism.

[2021-05-12 13:32] avinashjha1320 opened #251 "Error in Booking page of admin"
@maverick1910 There is a problem while opening the booking status page of the admin panel.
![image](https://user-images.githubusercontent.com/71824792/117983396-8aaab480-b354-11eb-93b8-cdf6ba56f8f6.png)

[2021-05-14 18:28] avinashjha1320 opened #254 "Places tab of Admin Pannel"
@maverick1910 I want to design the place tab for the admin pannel where admin can monitor about the photos whicha are contributed by the contributers.

[2021-05-15 05:38] avinashjha1320 opened #256 "Rebuilding the Browse Place page"
@maverick1910 I want to rebuild the whole browse place page so that it becomes more attractive and soothing.

[2021-05-16 06:07] Saatvik21 opened #259 "Adding Navbar in Login Page"
I would like to add the navbar similar to the registration page on the login page as it doesn't have one.

Kindly assign me this issue under GSSoC'21 @maverick1910

[2021-05-16 15:38] Jassi10000 commented on #237
@maverick1910 Can you pls describe it more as this makes no sense

[2021-05-17 02:34] avinashjha1320 opened #262 "Creating Distinct Page for Browse Place and Gallery."
@maverick1910 I want to add the gallery page to the main site where all pic contributed by the visitors can be shown.

[2021-05-17 14:38] #259 closed

[2021-05-17 16:06] Saatvik21 opened #264 "Fix Responsiveness of Login Page"
Currently, the login page is not responsive.

I would like to fix this issue.

## Screenshots

![Screenshot_7](https://user-images.githubusercontent.com/61618767/118520468-bd3f1d80-b757-11eb-8f7a-3e3c8833aa0b.png)

[2021-05-19 06:39] #264 closed

[2021-05-19 10:02] avinashjha1320 opened #268 "Creating Progress page of Admin Pannel"
@maverick1910 I want to design the progress site where all the progress and records can be seen by the admin.

[2021-05-19 14:29] Saatvik21 opened #270 "Show/Hide Password Eye Icon Feature"
I would like to add this feature. @maverick1910

[2021-05-22 07:01] #270 closed

[2021-05-22 11:18] avinashjha1320 opened #275 "Styling of Gallery Page"
@maverick1910 I want to give a better design to the gallery page. There is some wrong functionality while opening the photos. In every photo, while opening a wrong image pops up.

[2021-05-22 12:02] avinashjha1320 opened #277 "Centering the image section of gallery"
@maverick1910 I want to center the image section for a more professional look.

[2021-05-23 06:36] anjali1102 opened #279 "Deploy the project"
I will deploy the Delhi-Tourism Website. Kindly assign this issue to me.

[2021-05-23 13:33] Saatvik21 opened #280 "Text not readable in browse place"
the paragraph about the place in browseplace page is not visible in dark mode. I would like to fix this by changing the color of the text.

## Screenshot for the bug

![Screenshot_3](https://user-images.githubusercontent.com/61618767/119262638-85bdee80-bbf9-11eb-864f-5def6f0d1818.png)

[2021-05-23 16:53] Saatvik21 opened #282 "Adding Forgot Password Page"
I would like to add the front end part of forgot password page.

Kindly assign me this issue @maverick1910

[2021-05-24 12:58] #280 closed

[2021-05-24 16:52] anjali1102 commented on #279
/assign

[2021-05-25 05:50] anjali1102 commented on #237
@maverick1910 I can complete this task 2 days, kindly assign me

[2021-05-25 12:29] avinashjha1320 opened #285 "Organizing Admin Assets File"
@maverick1910 I want to organize the admin assets folder because all the files are not organized.

[2021-05-25 12:30] avinashjha1320 opened #286 "Linking all the pages of Admin Pages."
In the admin area, all the pages are not linked. I want to link them. @maverick1910

[2021-05-25 12:51] avinashjha1320 opened #288 "Centering the Booking items"

[2021-05-25 18:31] anjali1102 commented on #279
hey @maverick1910 does this project deployed? I didn't find. If not then, I can deploy the project

[2021-05-26 17:27] #282 closed

[2021-05-27 02:54] avinashjha1320 opened #292 "Linking the Assests file"
@maverick1910 I want to link all the assets file after organizing

[2021-05-27 09:47] avinashjha1320 opened #295 "Background Image is Unavailable"
@maverick1910 the background image of progress tab is unavailable
![image](https://user-images.githubusercontent.com/71824792/119805212-af7b5c00-befe-11eb-91d8-85929e4772ba.png)

[2021-05-27 10:00] avinashjha1320 opened #297 "Background Image in Admin Blogs Page"
@maverick1910 there is now a background image in the Blog header space..

[2021-05-27 17:45] anjali1102 commented on #237
Hey @maverick1910

[2021-05-27 17:49] anjali1102 commented on #279
Hey @maverick1910

[2021-05-28 10:04] keshavgbpecdelhi opened #301 "to do"
hey @PoojaMittal2842 any changes I can do?

[2021-05-29 04:57] avinashjha1320 opened #302 "Sidebar of Admin Page"
I want to fix the sidebar of the admin page.
![image](https://user-images.githubusercontent.com/71824792/120058416-56c7d280-c068-11eb-8da4-21e1fbd62165.png)

[2021-05-29 05:02] avinashjha1320 opened #304 "Sidebar of User Admin Page"
@maverick1910 There is a wide space between the sidebar and nav bar
![image](https://user-images.githubusercontent.com/71824792/120058538-34828480-c069-11eb-8af1-356976083927.png)

[2021-05-29 05:04] avinashjha1320 opened #305 "SIdebar of Places Tab in Admin"
@maverick1910 There is a space between sidebar and navbar
![image](https://user-images.githubusercontent.com/71824792/120058573-7f040100-c069-11eb-843f-95d81f652ff0.png)

[2021-05-29 05:20] avinashjha1320 opened #308 "Increasing the font of Progress Tab"
@maverick1910 the font of the progress tab is too small
![image](https://user-images.githubusercontent.com/71824792/120058927-a78cfa80-c06b-11eb-8ef1-483eed94dc35.png)

[2021-05-29 06:33] Saatvik21 opened #310 "Reset Password Page [Frontend]"
I would like to create this page. Kindly assign me @maverick1910

[2021-05-29 07:55] #222 closed

[2021-05-29 08:10] Saisrinivenkat opened #312 "Dark Font color in Dark Mode"
Font color is black in dark mode.
![image](https://user-images.githubusercontent.com/55131291/120063105-293c5280-c083-11eb-9c0d-3c31432ab41f.png)
@PoojaMittal2842 Assign me

[2021-05-30 14:13] avinashjha1320 opened #323 "Linking in User Index Page"
@maverick1910 the linking of the gallery button is wrong
![image](https://user-images.githubusercontent.com/71824792/120107596-40606a80-c17f-11eb-8eff-42d151bee111.png)

[2021-05-30 14:32] avinashjha1320 opened #326 "Padding in footer section"
@maverick1910 The bottom and top padding is to much in the footer
![image](https://user-images.githubusercontent.com/71824792/120108255-fe84f380-c181-11eb-91ab-f4fdc388042f.png)

[2021-05-31 08:21] #310 closed

[2021-06-01 03:17] Saisrinivenkat opened #338 "Reference error on Book ticket page when the user hasn't logged in"
![image](https://user-images.githubusercontent.com/55131291/120261676-034ac400-c2b6-11eb-9d5a-f1419befda6b.png)

[2021-06-06 05:39] #233 closed

[2021-06-09 17:07] #338 closed

[2022-11-15 17:29] #93 closed